:root {
  --header-height: 80px;
  --transition: 0.15s all linear;
  --header-color: rgb(255, 194, 235);
}

* {
  margin: 0;
}

.header {
  height: var(--header-height);
  width: 100vw;
  background-color: var(--header-color);
  display: grid;
  align-items: center;
  padding-left: 10px;
}

.header p {
  font-size: 23px;
}

.main-container {
  display: grid;
  height: calc(100vh - (var(--header-height) + 23px));
  grid-template-columns: 1fr 2fr;
}

.container {
  border: 1px black solid;
}

.left-container {
  display: grid;
}

.subcontainer {
  border: 1px black solid;
}

/* LEFT CONTAINER */

/* Filters */
.filter-title {
  font-size: 19px;
  margin-bottom: 20px;
}

.filter {
  margin: 15px 4px;
  font-size: 17px;
  cursor: pointer;
  transition: var(--transition);
}

.filter:hover {
  transform: translateX(8px);

}

.filter i {
  margin: 0px 5px;
}

/* Projects */

.project {
  margin: 15px 4px;
}

.project:hover {
  transform: translateX(8px);
  transition: var(--transition);
}

.create-project {
  cursor: pointer;
}


/* Project Modal */
.project-modalContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.514);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.project-modal {
  height: 200px;
  width: 450px;
  background-color: white;
  display: grid;
  box-shadow: 1px 1px 6px rgb(95, 95, 95);
  border-radius: 8px;
  grid-template-rows: 1fr 6fr;
}

.project-modalHeader {
  background-color: var(--header-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  padding-left: 3px;
  border-radius: 7px 7px 0 0;
}

.project-modalHeader i {
  cursor: pointer;
  font-size: 20px;
  margin-left: 200px;
  transition: var(--transition);
}

.project-modalHeader i:hover {
  transform: scale(1.1);
}

.project-modalHeader h4 {}

.project-modalBody {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.project-modalBody label {
  margin-left: 30%;
  cursor: pointer;
}

.project-modalBody input {
  width: 200px;
  height: 30px;
  border: 2px solid rgb(155, 155, 155);

}

.project-modalBody input:focus {
  outline: none;
  border: 2px solid rgb(81, 123, 143);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445);
}

.project-modalBody button {}

.create-projectItem {
  margin-left: 28%;
  margin-top: 10px;
  background-color: rgb(255, 225, 225);
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.233);
  cursor: pointer;
}