:root {
  --header-height: 80px;
}

* {
  margin: 0;
}

.header {
  height: var(--header-height);
  width: 100vw;
  background-color: rgb(255, 194, 235);
  display: grid;
  align-items: center;
  padding-left: 10px;
}

.header p {
  font-size: 23px;
}

.main-container {
  display: grid;
  height: calc(100vh - (var(--header-height) + 23px));
  grid-template-columns: 1fr 2fr;
}

.container {
  border: 1px black solid;
}

.left-container {
  display: grid;
}

.subcontainer {
  border: 1px black solid;
}

/* LEFT CONTAINER */

/* Filters */
.filter-title {
  font-size: 19px;
  margin-bottom: 20px;
}

.filter {
  margin: 15px 4px;
  font-size: 17px;
  cursor: pointer;
}

.filter i {
  margin: 0px 5px;
}

/* Projects */